.wrapper {
  min-width: 20%;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #202020;
  border: 2px solid #ccc;
  border-radius: 1rem;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userInput,
.passwordInput,
.hidleBtn,
.formSubmit {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #292929;
}

.userInput:focus,
.passwordInput:focus {
  outline: none;
  background-color: #272727;
}

.passwordInput {
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.hidleBtn {
  background-color: #252525;
  border-radius: 0 5px 5px 0;
}

.formSubmit {
  background-color: #272727;
  transition: all 0.3s;
}

.hidleBtn:hover,
.formSubmit:hover {
  cursor: pointer;
  background-color: #252525;
}

.hidleBtn:active,
.formSubmit:active {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2) inset;
}

.formField {
  overflow: hidden;
  display: flex;
}

.backgroundSVG {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 20%;
  fill: #ccc;
  fill-opacity: 0.1;
}

*[iserror="true"] {
  border-radius: 5px;
  border: 1px solid #ff3232;
}

.error {
  padding: 8px;
  color: #ff3232;
  background-color: rgba(255, 50, 50, 0.1);
  border-radius: 5px;
}

.clicked {
  animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
